* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/background.min.svg');
}

footer {
    background-color: #666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0 5px 0;
}

path {
    fill: transparent;
}

.container {
    text-align: center;
}

.hh-text {
    animation:blinkingText 3s infinite;
    font-size: 7em;
    margin-top: 13%;
}

.bigGrinchText {
    animation:blinkingText 3s infinite;
    font-size: 3.35em;
}

@keyframes blinkingText {
    0% {
        fill: #131313;
        color: #131313;
        text-shadow: 5px 10px green;
    }

    50% {
        fill: #dbdbdb;
        color: #dbdbdb;
        text-shadow: 5px 10px red;
    }

    100% {
        fill: #131313;
        color: #131313;
        text-shadow: 5px 10px green;
    }
}

.grinch {
    width: 20%;
    position: fixed;
    top: 30%;
    left: 40%;
}

.present-1 {
    width: 20%;
    position: fixed;
    bottom: 5%;
    left: 2%;
}

.present-2 {
    width: 15%;
    position: fixed;
    bottom: 5%;
    right: 2%;
}

.truckL {
    width: 8%;
    position: fixed;
    top: 1%;
    left: 1%;
}

.truckR {
    width: 8%;
    position: fixed;
    top: 1%;
    right: 1%;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

@media screen and (max-width: 1400px) {
    .grinch {
        top: 25%;
        width: 30%;
        left: 35%;
    }

    .truckL {
        width: 10%;
    }

    .truckR {
        width: 10%;
    }

    .hh-text {
    margin-top: 30%;
    font-size: 5em;
}
}

@media screen and (max-width: 501px) {
    .grinch {
        top: 15%;
        width: 50%;
        left: 25%;
    }
    .present-1 {
        width: 40%;
        bottom: 7%;
    }

    .present-2 {
        width: 35%;
        bottom: 7%;
        right: 2%;
    }

    .truckL {
        width: 15%;
    }

    .truckR {
        width: 15%;
    }

    .hh-text {
        margin-top: 80%;
        font-size: 3em;
    }
}

.editor-stage .snow {
    height:50px;
    background: #fff;
}
.snow{
    position:fixed;
    pointer-events:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100vh;
    background: none;
    background-image: url('https://s3-eu-west-1.amazonaws.com/static-ressources/s1.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s2.png'), url('https://s3-eu-west-1.amazonaws.com/static-ressources/s3.png');
    z-index:100;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
