* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../img/background.jpg');
}

footer {
    background-color: #666;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
}

path {
    fill: transparent;
}

.container {
    text-align: center;
}

.bigGrinchText {
    animation:blinkingText 3s infinite;
    font-size: 3.35em;
    color: red;
}

@keyframes blinkingText {
    0% {
        fill: red;
        text-shadow: 5px 5px green;
    }

    50% {
        fill: green;
        text-shadow: 5px 5px red;
    }

    100% {
        fill: red;
        text-shadow: 5px 5px green;
    }
}

.grinch {
    width: 20%;
    position: fixed;
    top: 30%;
    left: 40%;
}

.present-1 {
    width: 20%;
    position: fixed;
    bottom: 5%;
    left: 2%;
}

.present-2 {
    width: 15%;
    position: fixed;
    bottom: 5%;
    right: 2%;
}

.truck {
    width: 5%;
    position: fixed;
    top: 1%;
    left: 1%;
}

@media screen and (max-width: 1400px) {
    .grinch {
        top: 25%;
        width: 30%;
        left: 35%;
    }

    .truck {
        width: 15%;
        position: fixed;
        top: 1%;
    }
}

@media screen and (max-width: 500px) {
    .grinch {
        top: 15%;
        width: 50%;
        left: 25%;
    }
    .present-1 {
        width: 40%;
        position: fixed;
        bottom: 7%;
    }

    .present-2 {
        width: 35%;
        position: fixed;
        bottom: 7%;
        right: 2%;
    }

    .truck {
        width: 15%;
        position: fixed;
        top: 1%;
    }
}
